#sketch-container {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(69, 69, 69);
}

#options-menu {
 
  height: 8vw;
}